.best-sellers {
    position: relative;
}

.best__sellers__heading {
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: clamp(34px, 7vw, 64px);
    color: var(--color-primary);
    margin-top: clamp(80px, 5vw, 200px);
    display: flex;
    justify-content: center;
}

.best__seller__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(40px, 6vw, 70px);
    gap: clamp(30px, 8vw, 44px);
}

.best__seller__card {
    height: clamp(100px, 24vw, 140px);
    width: clamp(300px, 80vw, 460px);
    background-color: var(--color-card);
    border-radius: clamp(10px, 2vw, 16px);
    display: flex;
    padding: 0.5rem;
    gap: clamp(12px, 4vw, 20px);
}

.best__seller__card img {
    width: clamp(100px, 24vw, 140px);
    border-radius: clamp(8px, 2vw, 14px);
}

.best__sellers__text__section {
    display: flex;
    flex-direction: column;
}

.best__sellers__text__section h4 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-size: clamp(20px, 5vw, 26px);
    position: relative;
}

.best__sellers__text__section h4::after {
    content: "";
    position: absolute;
    width: clamp(140px, 30vw, 170px);
    height: 1px;
    top: 110%;
    left: 0;
    background-color: var(--color-primary);
}

.best__sellers__text__section p {
    margin-top: clamp(10px, 2vw, 14px);
    width: clamp(190px, 50vw, 300px);
    font-family: var(--font-body);
    font-size: clamp(14px, 3vw, 20px);
}

.sketch__4 {
    width: clamp(120px, 15vw, 200px);
    filter: opacity(0.3);
    position: absolute;
    top: 98%;
    right: -1.2rem;
    transform: rotateZ(340deg);
    z-index: 0;
}

@media (min-width: 1024px) {
    .best__seller__cards {
        display: grid;
        grid-template-columns: repeat(2, 480px);
        justify-content: center;
        justify-items: center;
        gap: 2rem;
    }

    .best__seller__card {
        height: clamp(110px, 15vw, 150px);
        width: clamp(340px, 43vw, 440px);
        border-radius: clamp(12px, 2vw, 16px);
        gap: clamp(14px, 4vw, 20px);
    }

    .best__sellers__text__section p {
        margin-top: clamp(10px, 2vw, 14px);
        width: clamp(190px, 24vw, 250px);
        font-size: clamp(16px, 1.8vw, 20px);
    }

    .sketch__4 {
        top: 92%;
    }
}