footer {
    position: relative;
    background-color: var(--color-card);
    height: clamp(52rem, 45.976rem + 12.549vi, 54rem);
    margin-top: clamp(7.5rem, 7.053rem + 2.237vi, 8.125rem);
    overflow-y: hidden;
}

.footer__container__1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.footer__logo__container {
    display: flex;
    justify-content: center;
}

.footer__logo {
    width: clamp(9.375rem, 8.928rem + 2.237vi, 10rem);
    height: auto;
}

.footer__links__container {
    margin-top: clamp(3.125rem, 2.946rem + 0.895vi, 3.375rem);
    display: grid;
    grid-template-columns: repeat(1, clamp(9.375rem, 8.928rem + 2.237vi, 10rem));
    row-gap: clamp(1.25rem, 1.116rem + 0.671vi, 1.438rem);
    column-gap: clamp(0.125rem, -0.143rem + 1.342vi, 0.5rem);
    justify-content: center;
    justify-items: center;
}

.footer__links__container li {
    list-style: none;
}

.footer__links__container li a {
    font-family: var(--font-body);
    font-size: clamp(1rem, 0.911rem + 0.447vi, 1.125rem);
    text-decoration: none;
    color: var(--color-text);
}

.footer__container__2 {
    margin-top: clamp(3.125rem, 2.946rem + 0.895vi, 3.375rem);
    display: flex;
    flex-direction: column;
}

.shop__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.25rem, 1.161rem + 0.447vi, 1.375rem);
}

.timing,
.number,
.mail {
    display: flex;
    align-items: center;
    gap: clamp(0.75rem, 0.661rem + 0.447vi, 0.875rem);
}

.timing img,
.number img,
.mail img {
    width: clamp(1.25rem, 1.071rem + 0.895vi, 1.5rem);
    height: auto;
}

.timing p,
.number p,
.mail p {
    font-family: var(--font-body);
    font-size: clamp(1rem, 0.933rem + 0.336vi, 1.094rem);
    color: var(--color-text);
}

.shop__social__links {
    margin-top: clamp(3.125rem, 2.946rem + 0.895vi, 3.375rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1.875rem, 1.428rem + 2.237vi, 2.5rem);
}

.whatsapp__button,
.facebook__button,
.instagram__button {
    width: clamp(3.125rem, 2.812rem + 1.566vi, 3.563rem);
    height: clamp(3.125rem, 2.812rem + 1.566vi, 3.563rem);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp__button img,
.facebook__button img,
.instagram__button img {
    width: clamp(1.875rem, 1.562rem + 1.566vi, 2.313rem);
    height: auto;
}

.footer__container__3 {
    margin-top: clamp(3.125rem, 2.946rem + 0.895vi, 3.375rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__container__3 p {
    font-family: var(--font-body);
    font-size: clamp(1rem, 0.911rem + 0.447vi, 1.125rem);
}

.footer__container__3 input {
    margin-top: clamp(1.25rem, 1.161rem + 0.447vi, 1.375rem);
    width: clamp(11.25rem, 10.355rem + 4.474vi, 12.5rem);
    height: clamp(1.875rem, 1.741rem + 0.671vi, 2.063rem);
    border: 1px solid var(--color-primary);
    border-radius: 1.2rem;
    font-family: var(--font-body);
    font-size: 0.9rem;
    color: var(--color-text);
    padding: clamp(0.375rem, -0.072rem + 2.237vi, 1rem) clamp(0.5rem, 0.321rem + 0.895vi, 0.75rem);
    outline: none;
}

.footer__container__3 input:focus {
    border: 2px solid var(--color-primary);
    outline: none;
}

.footer__container__3 button {
    margin-top: clamp(1.25rem, 1.161rem + 0.447vi, 1.375rem);
    border: none;
    border-radius: 1.25rem;
    color: var(--color-card);
    font-size: clamp(0.875rem, 0.741rem + 0.671vi, 1.063rem);
    font-family: var(--font-body);
    background-color: var(--color-primary);
    padding: clamp(0.5rem, 0.411rem + 0.447vi, 0.625rem) clamp(1.125rem, 0.991rem + 0.671vi, 1.313rem);
    cursor: pointer;
}

.copyright {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

.copyright p {
    font-family: var(--font-body);
    font-size: clamp(0.75rem, 0.661rem + 0.447vi, 0.875rem);
}

.footer__sketch {
    width: clamp(120px, 15vw, 200px);
    filter: opacity(0.3);
    position: absolute;
    top: 90%;
    left: -1.5rem;
    transform: rotateZ(20deg);
    z-index: 0;
}

@media (min-width: 768px) {

    footer {
        height: clamp(50rem, 37.953rem + 25.098vi, 54rem);
    }

    .footer__primary__container {
        display: flex;
        flex-direction: column;
    }

    .footer__container__1 {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer__logo {
        width: clamp(10rem, 2.471rem + 15.686vi, 12.5rem);
    }

    .footer__links__container {
        grid-template-columns: repeat(1, clamp(10rem, 4.353rem + 11.765vi, 11.875rem));
        row-gap: clamp(1.438rem, 0.685rem + 1.569vi, 1.688rem);
        column-gap: clamp(0.5rem, -2.135rem + 5.49vi, 1.375rem);
    }

    .footer__links__container li a {
        font-size: clamp(1.125rem, 0.843rem + 0.588vi, 1.219rem);
    }

    .footer__container__2 {
        margin-top: clamp(3.375rem, 1.493rem + 3.922vi, 4rem);
        flex-direction: row;
        justify-content: space-evenly;
    }

    .shop__details {
        justify-content: center;
        gap: clamp(2.5rem, 1.371rem + 2.353vi, 2.875rem);
    }

    .timing,
    .number,
    .mail {
        gap: clamp(0.75rem, -0.003rem + 1.569vi, 1rem);
    }

    .timing img,
    .number img,
    .mail img {
        width: clamp(1.75rem, 1.374rem + 0.784vi, 1.875rem);
    }

    .timing p,
    .number p,
    .mail p {
        font-size: clamp(1.25rem, 0.874rem + 0.784vi, 1.375rem);
    }

    .shop__social__links {
        margin-top: 0rem;
        flex-direction: column;
        gap: clamp(1.375rem, 0.999rem + 0.784vi, 1.5rem);
    }

    .whatsapp__button,
    .facebook__button,
    .instagram__button {
        width: clamp(3.5rem, 2.747rem + 1.569vi, 3.75rem);
        height: clamp(3.5rem, 2.747rem + 1.569vi, 3.75rem);
    }

    .whatsapp__button img,
    .facebook__button img,
    .instagram__button img {
        width: clamp(2.25rem, 1.874rem + 0.784vi, 2.375rem);
    }

    .footer__container__3 {
        margin-top: clamp(3.375rem, 1.493rem + 3.922vi, 4rem);
    }

    .footer__container__3 p {
        font-size: clamp(1.25rem, 0.874rem + 0.784vi, 1.375rem);
    }

    .footer__container__3 input {
        width: clamp(13.75rem, 9.985rem + 7.843vi, 15rem);
        height: 34px;
        font-size: clamp(1.063rem, 0.874rem + 0.392vi, 1.125rem);
        border-radius: clamp(1.375rem, 0.999rem + 0.784vi, 1.5rem);
        padding: clamp(1.25rem, 1.062rem + 0.392vi, 1.313rem) clamp(0.75rem, 0.374rem + 0.784vi, 0.875rem);
    }

    .footer__container__3 button {
        margin-top: clamp(1.375rem, 0.999rem + 0.784vi, 1.5rem);
        font-size: clamp(1.063rem, 0.837rem + 0.471vi, 1.137rem);
        padding: 10px clamp(1.313rem, 0.936rem + 0.784vi, 1.438rem);
    }

    .copyright p {
        font-size: clamp(0.875rem, 0.499rem + 0.784vi, 1rem);
    }

    .footer__sketch {
        top: 84%;
        left: -1rem;
        transform: rotateZ(20deg);
    }

}

@media (min-width: 1024px) {
    footer {
        margin-top: 11.25rem;
        height: 22rem;
    }

    .footer__primary__container {
        margin-top: clamp(3.125rem, 1.34rem + 2.789vi, 4rem);
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        gap: 0px;
    }

    .footer__container__1 {
        margin-top: 0rem;
        flex-direction: row;
        gap: clamp(2.5rem, -7.699rem + 15.936vi, 7.5rem);
    }

    .footer__logo {
        width: clamp(10rem, 6.175rem + 5.976vi, 11.875rem);
    }

    .footer__links__container {
        margin-top: 0rem;
        grid-template-columns: repeat(1, clamp(9rem, 6.96rem + 3.187vi, 10rem));
        row-gap: clamp(1.438rem, 0.8rem + 0.996vi, 1.75rem);
        column-gap: clamp(0.5rem, -0.01rem + 0.797vi, 0.75rem);
        align-items: center;
    }

    .footer__links__container li a {
        font-size: clamp(1rem, 0.49rem + 0.797vi, 1.25rem);
    }

    .footer__container__2 {
        margin-top: 0rem;
        flex-direction: column;
        gap: clamp(1.5rem, 0.735rem + 1.195vi, 1.875rem);
    }

    .shop__details {
        gap: clamp(1.25rem, 0.74rem + 0.797vi, 1.5rem);
    }

    .timing,
    .number,
    .mail {
        gap: clamp(0.875rem, 0.62rem + 0.398vi, 1rem);
    }

    .timing img,
    .number img,
    .mail img {
        width: clamp(1.5rem, 1.245rem + 0.398vi, 1.625rem);
    }

    .timing p,
    .number p,
    .mail p {
        font-size: clamp(1rem, 0.745rem + 0.398vi, 1.125rem);
    }

    .shop__social__links {
        flex-direction: row;
    }

    .whatsapp__button,
    .facebook__button,
    .instagram__button {
        width: clamp(2.5rem, 1.48rem + 1.594vi, 3rem);
        height: clamp(2.5rem, 1.48rem + 1.594vi, 3rem);
    }

    .whatsapp__button img,
    .facebook__button img,
    .instagram__button img {
        width: clamp(1.625rem, 1.37rem + 0.398vi, 1.75rem);
    }

    .footer__container__3 {
        margin-top: 0rem;
    }

    .footer__container__3 p {
        font-size: clamp(1rem, 0.745rem + 0.398vi, 1.125rem);
    }

    .footer__container__3 input {
        margin-top: clamp(1.25rem, 0.74rem + 0.797vi, 1.5rem);
        width: clamp(10rem, 4.9rem + 7.968vi, 12.5rem);
        height: 2.375rem;
        font-size: clamp(0.75rem, 0.431rem + 0.498vi, 0.906rem);
        padding: clamp(0.875rem, 0.493rem + 0.598vi, 1.063rem) clamp(0.438rem, -0.2rem + 0.996vi, 0.75rem);
    }

    .footer__container__3 button {
        margin-top: clamp(1.25rem, 0.74rem + 0.797vi, 1.5rem);
        font-size: clamp(1rem, 0.809rem + 0.299vi, 1.094rem);
        padding: 0.5rem clamp(1.25rem, 0.995rem + 0.398vi, 1.375rem);
    }

    .copyright {
        margin-top: 3.125rem;
        display: flex;
        justify-content: center;
    }

    .copyright p {
        font-family: var(--font-body);
        font-size: 16px;
    }

    .footer__sketch {
        top: 60%;
    }
}